.autocontrol-overlay {
    margin: 0;
    padding: 0;
    border-radius: 0;
    outline: 0;

    position: absolute;
    box-sizing: border-box;

    z-index: 1000000;

    top: 15px;
    left: 15px;

    background-color: rgba(0, 0, 0, 0.363);
    outline: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
}

#autocontrol-window-wrapper {
    position: relative;
    z-index: 10000000;
}

#autocontrol-window {
    position: fixed;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 300px;
    z-index: 10000000;
}
#autocontrol-window header {
    font-size: 0.8em;
    padding: 5px 10px;
    box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2543144461965935);
    background-color: skyblue;
}

#autocontrol-window-content {
    padding: 20px;
    text-align: center;
}

#autocontrol-window-close-button {
    float: right;
    outline: 0;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
}

#autocontrol-add-element-button {
    border: 0;
    outline: 0;

    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(165, 165, 165);
}
