.ac-selector {
    margin: 0;
    padding: 0;
    border-radius: 0;
    outline: 0;

    position: absolute;
    box-sizing: border-box;

    z-index: 1000000;

    top: 15px;
    left: 15px;

    background-color: rgba(0, 0, 0, 0.363);
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    font-size: 16px;
    border-top-left-radius: 0;
}
    .ac-selector.labelOverflow {
        border-top-right-radius: 0;
    }

    .ac-selector-label {
        position: absolute;
        top: -25px;
        left: -1px;
        background-color: rgba(0, 0, 0, 0.363);
        padding: 0 5px;
        outline: inherit;
        padding: 2px 5px;
        overflow: hidden;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: inherit;
        color: white;
        font-family: monospace;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

#ac-panel {
    font-size: 16px;
    position: fixed;
    width: 200px;
    margin-left: -200px;
    top: 0;
    bottom: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    z-index: 10000000;

    color: black;
    border-right: 1px solid rgb(196, 196, 196);
    padding-top: 32px;
    padding-bottom: 57px;
    overflow: auto;
    text-align: initial;
}

#ac-panel-header {
    font-size: 0.8em;
    background-color: #5fbfff;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    overflow: hidden;
}

#ac-panel-header #title-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ac-panel-header h1 {
    font-size: 1.5em;
    padding: 5px 10px;
}

#ac-panel-header #close-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ac-panel-header #close-button {
    
    background-color: transparent;
    outline: 0;
    border: 0;
    padding: 6px;
    flex-grow: 1;
}

#ac-panel-header #close-button-icon {
    height: 20px;
    width: 20px;
    
    background-size: contain;
}

#ac-panel-header #close-button:active {
    background-color: rgb(85, 168, 223);
}

#ac-panel-resizer {
    position: relative;
    top: 0.7em;
    bottom: 0;
    width: 5px;
}

#ac-panel-resizer:hover {
    cursor: w-resize;
}

#ac-panel button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





#ac-bottom-nav {
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    padding: 0 5px;
}
    #ac-bottom-nav button {
        margin: 5px 0;
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;

        display: block;
        border: none;
        outline: none;
        width: 100%;
    }

    #ac-add-element-group-button {
        background-color: #0099ff;
        color: #ffffff;
    }

    #ac-add-element-group-button:active {
        background-color: #0077cc;
    }

    #ac-add-element-button {
        background-color: #0099ff;
        color: #ffffff;
    }

    #ac-add-element-button:active {
        background-color: #0077cc;
    }

    #ac-run-button {
        font-size: 20px;
        padding: 5px;
        background-color: #68d868;
        color: #ffffff;
    }

    #ac-run-button:active {
        background-color: #5EB85B;
    }
    
    
    
    
