.autocontrol-selector {
    margin: 0;
    padding: 0;
    border-radius: 0;
    outline: 0;

    position: absolute;
    box-sizing: border-box;

    z-index: 1000000;

    top: 15px;
    left: 15px;

    background-color: rgba(0, 0, 0, 0.363);
    outline: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
}


#autocontrol-panel {
    font-size: 16px;
    position: fixed;
    width: 200px;
    margin-left: -200px;
    top: 0;
    bottom: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 200px;
    z-index: 10000000;
    
    color: black;
    border-right: 1px solid rgb(196, 196, 196);
}
#autocontrol-panel header {
    font-size: 0.8em;
    padding: 5px 10px;
    background-color: skyblue;
    color: white;
}

#autocontrol-panel-content {
    padding: 10px 10px;
    text-align: center;
}

#autocontrol-panel-resizer {
    position: absolute;
    top: 0.7em;
    bottom: 0;
    width: 5px;
    right: -3px;
}

#autocontrol-panel-resizer:hover {
    cursor: w-resize;
}

#autocontrol-panel button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#autocontrol-panel-close-button {
    float: right;
    outline: 0;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
}

/* select the list item by its class name */
.autocontrol-element-list-item {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* add a background color */
    background-color: #f0f0f0;
}

.autocontrol-element-list-item button {
    border: none;
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    order: 1;
}

.autocontrol-element-list-item button:active {
    background-color: #cc0000;
}

.autocontrol-element-list-item .element-info {
    font-family: "monospace";
    font-size: "16px";
}

#autocontrol-add-element-button {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: #0099ff; /* changed this line */
    color: #ffffff;
    border-radius: 10px;
  }
  
  #autocontrol-add-element-button:active {
    background-color: #0077cc; /* changed this line */
  }
