/* .ac-element-list-item {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    justify-content: space-between;
    background-color: #f0f0f0;
}

    .ac-element-list-item header {
        background-color: grey;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: left;
        padding: 5px;
        background-color: #dfdfdf;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ac-element-list-item .content {
        padding: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .ac-element-list-item .content .action-descriptor {
        font-style: italic;
        color: #898989;
    }
    
    .ac-element-list-item .content .label-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ac-element-list-item .content input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
        outline: none;
        transition: border-color 0.3s, box-shadow 0.3s;
        padding: 5px;
    }
    
    .ac-element-list-item .input-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .ac-element-list-item .delete-button {
        color: red;
        border: 0;
        outline: 0;
        background-color: transparent;
        padding: 0;
    }
    .ac-element-list-item .delete-button:active {
        color: rgb(219, 0, 0);
    }

.ac-element-list-item-placeholder {
    height: 2000px;
    width: 100%;
    background-color: aquamarine;
} */


#ac-element-list {
    list-style: none;
    padding: 0 5px;
    padding-top: 5px;
}
    #ac-element-list li {
        display: flex;
        justify-content: space-between;

        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #f0f0f0;
        width: 100%;
    }

    #ac-element-list li .ac-action-type {
        background-color: #dddddd;
        color: #636363;
        font-style: italic;
        padding: 5px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .ac-element-list-item-content {
        display: flex;
        flex-direction: column;
        padding: 5px;
        flex-grow: 1;
    }

    .ac-element-list-item-content input {
        width: 100%;
        outline: 0;
        border: 0;
        padding: 3px;
    }

    #ac-element-list li .ac-list-item-delete-btn {
        color: red;
        padding: 5px;
        padding-left: 0;
        margin: 0;
        display: block;
        outline: 0;
        border: 0;
        background-color: transparent;
    }